# Default ignored files
/shelf/
/workspace.xml
/.idea/

gradlew
gradlew.bat

AlgorithmAndDataStructures/.idea/
AlgorithmAndDataStructures/out/
AlgorithmAndDataStructures/AlgorithmAndDataStructures.iml
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
