# Default ignored files
/shelf/
/workspace.xml
/.idea/

gradlew
gradlew.bat

AlgorithmAndDataStructures/.idea/
AlgorithmAndDataStructures/out/
AlgorithmAndDataStructures/AlgorithmAndDataStructures.iml